<launch>

   <arg
      name = "talker_name"
      default = "Zuyang Cao" 
   />
   <arg
      name = "message_content"
      default = "Hello World"
   />
   
   <arg
    name  ="record"
    default = "disable"
   />

   <node 
      pkg="beginner_tutorials"
      type="talker"
      name="talking_node"
      respawn = "true"
      output = "screen"
   >
      <param name="talker_name" value="$(arg talker_name)" />
      <param name="message_content" value="$(arg message_content)" />
   </node>
   
   <node 
      pkg="beginner_tutorials"
      type="listener"
      name="listening_node"
      respawn = "true"
      output = "screen"
   />

   <node
      name = "rosbag"
      pkg = "rosbag"
      type = "record"
      args = "-a -O $(find beginner_tutorials)/results/talker.bag"
      if = "$(eval record == 'enable')"
   />
</launch>
